@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.main{
    max-width: 1440px;
    margin: 0 auto;
}
.wrapper{
    max-width: 90%;
    margin: 0 auto;
}
.navbar{
    height: 80px;
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 30px;
    height: 30px;
    z-index: 2;
}
.lnk{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style-type: none;
}
.lnk a{
    text-decoration: none;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.icon{
    height: 30px;
    /* background-color: brown; */
    padding: 5px;
    z-index: 2;
}
.icon a{
    margin-left: 10px;
    color: black;
}
.icon i:hover{
    color: gainsboro;
}
.dn1{
    width: 90%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    left: 117px;
    background-color: white;
    
}
.dn1 div{
    width: 19%;
    padding-top: 20px;
}
.dn1 ul{
    list-style-type: none;
}
li{
    padding: 5px;
}
li a{
    font-size: 13px;
    color: grey;
}
li a:hover{
    color: black;
}
h4{
    margin-top: 0;
    margin-bottom: 10px;
    /* background-color: aqua; */
}
h4 a{
    color: black;
}
.b1:hover .nmn{
    display: block;
}
.nmn{
    display: none;
}
.addelni{
    color: grey;
}
/* .navbar:hover .nmn{
    display: block;
} */
.nbl a{
    color: black;
}
.nbl a:hover{
    color: gray;
}
.op{
    background-image: url(./bgim.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 350px; */
}
.cont{
    color: white;
    padding-top: 60px;
    padding-bottom: 50px;
}
.cont button{
    background: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 13px 35px;
    color: white;
    transition: 0.4s ease;
    cursor: pointer;
    font-size: 16px;
}

.cont h1{
    font-size: 35px;
}

.cont div{
    padding-bottom: 40px;
}
.cont button:hover{
    background-color: white;
    color: black;
    transition: 0.4s ease;
}
.fltr{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 30px 0;
    position: relative;
}
.fltr a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}
.fltr a:hover{
    color: grey;
}
.grnz{
    background-color: white;
    position: absolute;
    padding: 40px;
    width: 300px;
    right: 110px;
    top: 50px;
    padding-top: 55px;
    display: none;
}
.grnz p{
    padding: 9px;
    font-size: 17px;
    color: grey;
    cursor: pointer;
}
.grnz p:hover{
    color: black;
}
.bt1:hover .grnz{
    display: block;
    z-index: 2;
}
.content{
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}
.category{
    width: 27%;
    /* background-color: aquamarine; */
}
.prdc{
    width: 69%;
}
.products{
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}
.c1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
}
.ckb1{
    margin-top: 15px;
    margin-bottom: 20px;
}
label a{
    color: black;
    font-size: 17px;
}
input{
    width: 17px;
    height: 17px;
}
span{
    color: gray;
}

.ckb2{
    margin-top: 15px;
    margin-bottom: 20px;
}

hr{
    border-top: 0.5px solid gray;
}

.card{
    width: 24%;
    /* background-color: chocolate; */
    height: 400px;
}
.icn{
    position: absolute;
    right: 10px;
    top: 10px;
}
.icn button{
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 6px;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}
.pi{
    background-image: url(./prdct.jpg);
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.daire{
    transform: translate(80px,250px);
    transition: 0.2s ease;
}

.daire a{
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: blueviolet;
}
.pi:hover .daire{
    transform: translate(80px,220px);
    transition: 0.2s ease;
}
.py{
    text-align: center;
    margin-top: 10px;
}
.py a{
    color: black;
}
.py p{
    margin-bottom: 10px;
}
.py a:hover{
    color: red;
}
.page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.page ul{
    display: flex;
    align-items: center;
}
.page ul a{
    color: black;
    font-size: 15px;
}
.page a:hover{
    color: red;
}
.footer{
    background-color: rgb(29, 29, 29);
}
.container{
    display: flex;
    gap: 25%;
    padding: 100px 0;
    color: white;
    justify-content: baseline;
}
.ls{
    width: 25%;
}
.rs{
    width: 50%;
    display: flex;
    gap: 5%;
}
form{
    border: 1px solid gray;
    width: 100%;
    background-color: rgb(29, 29, 29);
    height: 45px;
    padding: 5px;
    transition: 0.4s ease;
}
.mail{
    width: 212px;
    height: 100%;
    background: none;
    border: none;
}
.submit{
    color: white;
    width: 100px;
    height: 100%;
    background-color: rgb(57, 57, 56);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
}
form:hover{
    border: 1px solid red;
    transition: 0.4s ease;
}
.submit:hover{
    background-color: rgb(75, 75, 74);
    transition: 0.3s ease;
}
.rs ul{
    width: 30%;
}
.rs ul a{
    color: white;
    font-size: 15px;
}
.rs ul a:hover{
    color: red;
}
ul li h3{
    margin-bottom: 20px;
}